.metadata
target/
# IntelliJ local files
*.idea
*.iml
nbactions.xml
maven-deps/
.DS_Store
archived/
cygnus-ngsi/ignore
cygnus-ngsi/bin
cygnus-common/bin
cygnus-twitter/bin
.classpath
.project
.factorypath
*/.settings